.site-header {
    @apply
    fixed
    top-0
    left-0
    right-0
    z-10
    py-4
    transition-all
    ease-in-out
    duration-500
    xl:py-6

    [&.stickyHeader]:bg-white
    [&.stickyHeader]:py-2
    [&.stickyHeader]:shadow-md
    [&.stickyHeader]:shadow-black/40

    [&_.nav-lists]:block
    [&_.nav-lists]:w-[75%]
    [&_.nav-lists]:max-w-[320px]
    [&_.nav-lists]:fixed
    [&_.nav-lists]:top-0
    [&_.nav-lists]:left-0
    [&_.nav-lists]:bottom-0
    [&_.nav-lists]:bg-black/50
    [&_.nav-lists]:backdrop-blur-md
    [&_.nav-lists]:p-5
    [&_.nav-lists]:-translate-x-full
    [&_.nav-lists]:transition-all
    [&_.nav-lists]:ease-in-out
    [&_.nav-lists]:duration-200

    xl:[&_.nav-lists]:static
    xl:[&_.nav-lists]:p-0
    xl:[&_.nav-lists]:flex
    xl:[&_.nav-lists]:bg-transparent
    xl:[&_.nav-lists]:translate-x-0
    xl:[&_.nav-lists]:w-auto
    xl:[&_.nav-lists]:max-w-full
    xl:[&_.nav-lists]:backdrop-blur-0

    [&_.nav-lists.show]:translate-x-0

    xl:[&_.nav]:space-x-6
    2xl:[&_.nav]:space-x-[2.1875rem]
    [&_.nav>li]:mb-2
    xl:[&_.nav>li]:mb-0

    [&_.nav-link]:text-lg
    [&_.nav-link]:text-white
    [&_.nav-link]:block
    [&_.nav-link]:py-1
    [&_.nav-link]:px-3
    xl:[&_.nav-link]:px-0
    [&_.nav-link]:relative
    [&_.nav-link]:transition-all
    [&_.nav-link]:ease-in-out
    [&_.nav-link]:duration-200

    [&_.nav-link:hover]:text-white
    [&_.nav-link:hover]:bg-white/10

    xl:[&_.nav-link:hover]:bg-transparent

    [&_.nav-link]:before:absolute
    [&_.nav-link]:before:bottom-0
    [&_.nav-link]:before:left-0
    [&_.nav-link]:before:w-0
    [&_.nav-link]:before:h-0.5
    [&_.nav-link]:before:bg-white
    [&_.nav-link]:before:transition-all
    [&_.nav-link]:before:ease-in-out
    [&_.nav-link]:before:duration-200

    [&_.nav-link:hover]:before:w-full

    [&_li.dropdown]:relative

    [&_li.dropdown>.nav-link]:pr-[20px]
    ;
}

.site-header .current_page_item .nav-link {
    @apply
    font-bold;
}

.site-header .navbar-menu svg .line {
    @apply fill-none stroke-black stroke-[2] [transition:stroke-dasharray_600ms_cubic-bezier(.4,0,.2,1),stroke-dashoffset_600ms_cubic-bezier(.4,0,.2,1)];
}

.site-header .navbar-menu.active svg .line{
    @apply stroke-white
}