
@layer base {

    .site-header {
        @apply
        fixed
        top-0
        left-0
        right-0
        z-10
        py-4
        transition-all
        ease-in-out
        duration-500
        xl:py-6
        bg-white

        [&.stickyHeader]:bg-white
        [&.stickyHeader]:py-4
        [&.stickyHeader]:shadow-md
        [&.stickyHeader]:shadow-black/40

        [&_nav]:max-lg:fixed
        [&_nav]:max-lg:flex
        [&_nav]:max-lg:flex-col
        [&_nav]:max-lg:top-0
        [&_nav]:max-lg:bottom-0
        [&_nav]:max-lg:right-0
        [&_nav]:max-lg:p-0
        [&_nav]:max-lg:m-0
        [&_nav]:max-lg:h-screen
        [&_nav]:max-lg:list-none
        [&_nav]:max-lg:text-2xl
        [&_nav]:max-lg:leading-normal     
        ;
    }

    .site-header .navbar-menu svg .line {
        @apply fill-none stroke-black stroke-[2] [transition:stroke-dasharray_500ms_cubic-bezier(.4,0,.2,1),stroke-dashoffset_2000ms_cubic-bezier(.4,0,.2,1)];
    }

    .site-header .navbar-menu.active svg .line {
        @apply stroke-white;
    }

    @media(max-width: 991.92px){
        .site-header nav {
            transform: translateX(100%);
            /* background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
            background: linear-gradient(to left, #2C5364, #203A43, #16333f); */
            /* background-color: rgba(255, 255, 255, 0.15); */
            background-color: rgba(0, 0, 0, 0.4);
            /* background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
            backdrop-filter: blur(12px);
        }

        .site-header nav.active {
            transform: translateX(0);
        }

        .site-header .navbar-menu svg path{
            stroke-linecap: round;
        }

        .site-header .navbar-menu svg .line1,
        .site-header .navbar-menu svg .line3 {
            /* stroke-dasharray: 60 207; */
            stroke-dasharray: 30 103;
        }

        .site-header .navbar-menu svg .line2 {
            /* stroke-dasharray: 60 60; */
            stroke-dasharray: 30 30;
        }
    
        .site-header .navbar-menu.active .line1,
        .site-header .navbar-menu.active .line3 {
            /* stroke-dasharray: 90 207;
            stroke-dashoffset: -134; */
            stroke-dasharray: 45 103;
            stroke-dashoffset: -67;
        }

        .site-header .navbar-menu.active .line1{
            stroke-dashoffset: -68;
            /* offset-path: ray(91deg); */
            
        }

        .site-header .navbar-menu.active .line3{
            stroke-dashoffset: -70;
        }
    
        .site-header .navbar-menu.active .line2 {
            /* stroke-dasharray: 1 60;
            stroke-dashoffset: -30; */
            stroke-dasharray: 1 30;
            stroke-dashoffset: -30;
            opacity: 0;
            visibility: hidden;
        }
    }
}