@layer utilities {
    .border-facebook {
        border-image: linear-gradient(to right, #0165E1, #17A9FD);
        border-image-slice: 1;
    }

    .border-instagram {
        border-image: linear-gradient(to right, #833AB4, #C13584);
        border-image-slice: 1;
    }

    .slide-in-1 {
        @apply animate-[slide-in_0.4s_linear_0.15s_both];
    }

    .slide-in-2 {
        @apply animate-[slide-in_0.4s_linear_0.3s_both];
    }

    .slide-in-3 {
        @apply animate-[slide-in_0.4s_linear_0.45s_both];
    }

    .slide-in-4 {
        @apply animate-[slide-in_0.4s_linear_0.6s_both];
    }

    .slide-in-5 {
        @apply animate-[slide-in_0.4s_linear_0.75s_both];
    }

    .slide-in-6 {
        @apply animate-[slide-in_0.4s_linear_1s_both];
    }

    @keyframes slide-in {
        from {
            transform: translateX(120%);
        }

        to {
            transform: translateX(0);
        }
    }

    .slide-out-1 {
        @apply animate-[slide-out_0.3s_linear_0.25s_both];
    }

    .slide-out-2 {
        @apply animate-[slide-out_0.3s_linear_0.2s_both];
    }

    .slide-out-3 {
        @apply animate-[slide-out_0.3s_linear_0.15s_both];
    }

    .slide-out-4 {
        @apply animate-[slide-out_0.3s_linear_0.1s_both];
    }

    .slide-out-5 {
        @apply animate-[slide-out_0.3s_linear_0.05s_both];
    }

    .slide-out-6 {
        @apply animate-[slide-out_0.3s_linear_0.01s_both];
    }

    @keyframes slide-out {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }

    .particles .particle {
        @apply absolute opacity-10 bg-white rounded-full;
    }

    .particles .particle {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    @keyframes floating {
        0% {
            -webkit-transform: translate(0, 0) scale(.5);
            transform: translate(0, 0) scale(.5);
            opacity: 0;
        }

        5% {
            opacity: .1;
        }

        50% {
            -webkit-transform: translate(0, -150px) scale(1.4);
            transform: translate(0, -150px) scale(1.4);
        }

        95% {
            opacity: 0;
        }

        100% {
            -webkit-transform: translate(0, -250px) scale(.5);
            transform: translate(0, -250px) scale(.5);
        }
    }

    .circles li {
        @apply absolute list-none rounded-[80px] bg-white/10 border -bottom-8 border-white/15 [box-shadow:0_8px_32px_0_rgba(31,_38,_135,_0.2)] backdrop-filter backdrop-blur-[10px] animate-[animate_25s_linear_infinite];
    }

    @keyframes animate {

        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-540px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }

    }
}